button {
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    min-width: 150px;
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    border: 10px;

    &:hover {
        background-color: #e0e0e0;
        cursor: pointer;
        -webkit-transition: background-color .2s ease-in;
        -moz-transition: background-color .2s ease-in;
        -o-transition: background-color .2s ease-in;
        transition: background-color .2s ease-in;
    }
}